  body {  
    line-height:1.5;
    color:rgb(17 24 39/var(--tw-text-opacity));
    font-family:ui-sans-serif,system-ui,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  }  
body { 
/* CSS Variables that may have been missed get put on body */ 
    --tw-ring-offset-shadow:  0 0 #0000;  
    --tw-ring-shadow:  0 0 #0000;  
    --tw-shadow:  0 0 #0000;  
    --joy-palette-primary-100:  #E3EFFB;  
    --joy-palette-primary-200:  #C7DFF7;  
    --joy-palette-primary-300:  #97C3F0;  
    --joy-palette-primary-500:  #0B6BCB;  
    --joy-palette-primary-600:  #185EA5;  
    --joy-palette-primary-700:  #12467B;  
    --joy-palette-primary-800:  #0A2744;  
    --joy-palette-primary-500: #0B6BCB; 
    --joy-palette-primary-plainColor:  var(--joy-palette-primary-500, #0B6BCB);  
    --joy-palette-primary-100: #E3EFFB; 
    --joy-palette-primary-plainHoverBg:  var(--joy-palette-primary-100, #E3EFFB);  
    --joy-palette-primary-200: #C7DFF7; 
    --joy-palette-primary-plainActiveBg:  var(--joy-palette-primary-200, #C7DFF7);  
    --joy-palette-neutral-400: #9FA6AD; 
    --joy-palette-primary-plainDisabledColor:  var(--joy-palette-neutral-400, #9FA6AD);  
    --joy-palette-primary-outlinedColor:  var(--joy-palette-primary-500, #0B6BCB);  
    --joy-palette-primary-300: #97C3F0; 
    --joy-palette-primary-outlinedBorder:  var(--joy-palette-primary-300, #97C3F0);  
    --joy-palette-primary-outlinedHoverBg:  var(--joy-palette-primary-100, #E3EFFB);  
    --joy-palette-primary-outlinedActiveBg:  var(--joy-palette-primary-200, #C7DFF7);  
    --joy-palette-primary-outlinedDisabledColor:  var(--joy-palette-neutral-400, #9FA6AD);  
    --joy-palette-neutral-200: #DDE7EE; 
    --joy-palette-primary-outlinedDisabledBorder:  var(--joy-palette-neutral-200, #DDE7EE);  
    --joy-palette-primary-700: #12467B; 
    --joy-palette-primary-softColor:  var(--joy-palette-primary-700, #12467B);  
    --joy-palette-primary-softBg:  var(--joy-palette-primary-100, #E3EFFB);  
    --joy-palette-primary-softHoverBg:  var(--joy-palette-primary-200, #C7DFF7);  
    --joy-palette-primary-800: #0A2744; 
    --joy-palette-primary-softActiveColor:  var(--joy-palette-primary-800, #0A2744);  
    --joy-palette-primary-softActiveBg:  var(--joy-palette-primary-300, #97C3F0);  
    --joy-palette-primary-softDisabledColor:  var(--joy-palette-neutral-400, #9FA6AD);  
    --joy-palette-neutral-50: #FBFCFE; 
    --joy-palette-primary-softDisabledBg:  var(--joy-palette-neutral-50, #FBFCFE);  
    --joy-palette-common-white: #FFF; 
    --joy-palette-primary-solidColor:  var(--joy-palette-common-white, #FFF);  
    --joy-palette-primary-solidBg:  var(--joy-palette-primary-500, #0B6BCB);  
    --joy-palette-primary-600: #185EA5; 
    --joy-palette-primary-solidHoverBg:  var(--joy-palette-primary-600, #185EA5);  
    --joy-palette-primary-solidActiveBg:  var(--joy-palette-primary-700, #12467B);  
    --joy-palette-primary-solidDisabledColor:  var(--joy-palette-neutral-400, #9FA6AD);  
    --joy-palette-neutral-100: #F0F4F8; 
    --joy-palette-primary-solidDisabledBg:  var(--joy-palette-neutral-100, #F0F4F8);  
    --joy-palette-neutral-50:  #FBFCFE;  
    --joy-palette-neutral-100:  #F0F4F8;  
    --joy-palette-neutral-200:  #DDE7EE;  
    --joy-palette-neutral-300:  #CDD7E1;  
    --joy-palette-neutral-400:  #9FA6AD;  
    --joy-palette-neutral-500:  #636B74;  
    --joy-palette-neutral-600:  #555E68;  
    --joy-palette-neutral-700:  #32383E;  
    --joy-palette-neutral-800:  #171A1C;  
    --joy-palette-neutral-900:  #0B0D0E;  
    --joy-palette-neutral-700: #32383E; 
    --joy-palette-neutral-plainColor:  var(--joy-palette-neutral-700, #32383E);  
    --joy-palette-neutral-plainHoverBg:  var(--joy-palette-neutral-100, #F0F4F8);  
    --joy-palette-neutral-plainActiveBg:  var(--joy-palette-neutral-200, #DDE7EE);  
    --joy-palette-neutral-plainDisabledColor:  var(--joy-palette-neutral-400, #9FA6AD);  
    --joy-palette-neutral-outlinedColor:  var(--joy-palette-neutral-700, #32383E);  
    --joy-palette-neutral-300: #CDD7E1; 
    --joy-palette-neutral-outlinedBorder:  var(--joy-palette-neutral-300, #CDD7E1);  
    --joy-palette-neutral-outlinedHoverBg:  var(--joy-palette-neutral-100, #F0F4F8);  
    --joy-palette-neutral-outlinedActiveBg:  var(--joy-palette-neutral-200, #DDE7EE);  
    --joy-palette-neutral-outlinedDisabledColor:  var(--joy-palette-neutral-400, #9FA6AD);  
    --joy-palette-neutral-outlinedDisabledBorder:  var(--joy-palette-neutral-200, #DDE7EE);  
    --joy-palette-neutral-softColor:  var(--joy-palette-neutral-700, #32383E);  
    --joy-palette-neutral-softBg:  var(--joy-palette-neutral-100, #F0F4F8);  
    --joy-palette-neutral-softHoverBg:  var(--joy-palette-neutral-200, #DDE7EE);  
    --joy-palette-neutral-800: #171A1C; 
    --joy-palette-neutral-softActiveColor:  var(--joy-palette-neutral-800, #171A1C);  
    --joy-palette-neutral-softActiveBg:  var(--joy-palette-neutral-300, #CDD7E1);  
    --joy-palette-neutral-softDisabledColor:  var(--joy-palette-neutral-400, #9FA6AD);  
    --joy-palette-neutral-softDisabledBg:  var(--joy-palette-neutral-50, #FBFCFE);  
    --joy-palette-neutral-solidColor:  var(--joy-palette-common-white, #FFF);  
    --joy-palette-neutral-500: #636B74; 
    --joy-palette-neutral-solidBg:  var(--joy-palette-neutral-500, #636B74);  
    --joy-palette-neutral-600: #555E68; 
    --joy-palette-neutral-solidHoverBg:  var(--joy-palette-neutral-600, #555E68);  
    --joy-palette-neutral-solidActiveBg:  var(--joy-palette-neutral-700, #32383E);  
    --joy-palette-neutral-solidDisabledColor:  var(--joy-palette-neutral-400, #9FA6AD);  
    --joy-palette-neutral-solidDisabledBg:  var(--joy-palette-neutral-100, #F0F4F8);  
    --joy-palette-neutral-900: #0B0D0E; 
    --joy-palette-neutral-plainHoverColor:  var(--joy-palette-neutral-900, #0B0D0E);  
    --joy-palette-neutral-mainChannel:  99 107 116;  
    --joy-palette-neutral-darkChannel:  50 56 62;  
    --joy-palette-danger-100:  #FCE4E4;  
    --joy-palette-danger-200:  #F7C5C5;  
    --joy-palette-danger-300:  #F09898;  
    --joy-palette-danger-500:  #C41C1C;  
    --joy-palette-danger-600:  #A51818;  
    --joy-palette-danger-700:  #7D1212;  
    --joy-palette-danger-800:  #430A0A;  
    --joy-palette-danger-500: #C41C1C; 
    --joy-palette-danger-plainColor:  var(--joy-palette-danger-500, #C41C1C);  
    --joy-palette-danger-100: #FCE4E4; 
    --joy-palette-danger-plainHoverBg:  var(--joy-palette-danger-100, #FCE4E4);  
    --joy-palette-danger-200: #F7C5C5; 
    --joy-palette-danger-plainActiveBg:  var(--joy-palette-danger-200, #F7C5C5);  
    --joy-palette-danger-plainDisabledColor:  var(--joy-palette-neutral-400, #9FA6AD);  
    --joy-palette-danger-outlinedColor:  var(--joy-palette-danger-500, #C41C1C);  
    --joy-palette-danger-300: #F09898; 
    --joy-palette-danger-outlinedBorder:  var(--joy-palette-danger-300, #F09898);  
    --joy-palette-danger-outlinedHoverBg:  var(--joy-palette-danger-100, #FCE4E4);  
    --joy-palette-danger-outlinedActiveBg:  var(--joy-palette-danger-200, #F7C5C5);  
    --joy-palette-danger-outlinedDisabledColor:  var(--joy-palette-neutral-400, #9FA6AD);  
    --joy-palette-danger-outlinedDisabledBorder:  var(--joy-palette-neutral-200, #DDE7EE);  
    --joy-palette-danger-700: #7D1212; 
    --joy-palette-danger-softColor:  var(--joy-palette-danger-700, #7D1212);  
    --joy-palette-danger-softBg:  var(--joy-palette-danger-100, #FCE4E4);  
    --joy-palette-danger-softHoverBg:  var(--joy-palette-danger-200, #F7C5C5);  
    --joy-palette-danger-800: #430A0A; 
    --joy-palette-danger-softActiveColor:  var(--joy-palette-danger-800, #430A0A);  
    --joy-palette-danger-softActiveBg:  var(--joy-palette-danger-300, #F09898);  
    --joy-palette-danger-softDisabledColor:  var(--joy-palette-neutral-400, #9FA6AD);  
    --joy-palette-danger-softDisabledBg:  var(--joy-palette-neutral-50, #FBFCFE);  
    --joy-palette-danger-solidColor:  var(--joy-palette-common-white, #FFF);  
    --joy-palette-danger-solidBg:  var(--joy-palette-danger-500, #C41C1C);  
    --joy-palette-danger-600: #A51818; 
    --joy-palette-danger-solidHoverBg:  var(--joy-palette-danger-600, #A51818);  
    --joy-palette-danger-solidActiveBg:  var(--joy-palette-danger-700, #7D1212);  
    --joy-palette-danger-solidDisabledColor:  var(--joy-palette-neutral-400, #9FA6AD);  
    --joy-palette-danger-solidDisabledBg:  var(--joy-palette-neutral-100, #F0F4F8);  
    --joy-palette-success-100:  #E3FBE3;  
    --joy-palette-success-200:  #C7F7C7;  
    --joy-palette-success-300:  #A1E8A1;  
    --joy-palette-success-500:  #1F7A1F;  
    --joy-palette-success-600:  #136C13;  
    --joy-palette-success-700:  #0A470A;  
    --joy-palette-success-800:  #042F04;  
    --joy-palette-success-500: #1F7A1F; 
    --joy-palette-success-plainColor:  var(--joy-palette-success-500, #1F7A1F);  
    --joy-palette-success-100: #E3FBE3; 
    --joy-palette-success-plainHoverBg:  var(--joy-palette-success-100, #E3FBE3);  
    --joy-palette-success-200: #C7F7C7; 
    --joy-palette-success-plainActiveBg:  var(--joy-palette-success-200, #C7F7C7);  
    --joy-palette-success-plainDisabledColor:  var(--joy-palette-neutral-400, #9FA6AD);  
    --joy-palette-success-outlinedColor:  var(--joy-palette-success-500, #1F7A1F);  
    --joy-palette-success-300: #A1E8A1; 
    --joy-palette-success-outlinedBorder:  var(--joy-palette-success-300, #A1E8A1);  
    --joy-palette-success-outlinedHoverBg:  var(--joy-palette-success-100, #E3FBE3);  
    --joy-palette-success-outlinedActiveBg:  var(--joy-palette-success-200, #C7F7C7);  
    --joy-palette-success-outlinedDisabledColor:  var(--joy-palette-neutral-400, #9FA6AD);  
    --joy-palette-success-outlinedDisabledBorder:  var(--joy-palette-neutral-200, #DDE7EE);  
    --joy-palette-success-700: #0A470A; 
    --joy-palette-success-softColor:  var(--joy-palette-success-700, #0A470A);  
    --joy-palette-success-softBg:  var(--joy-palette-success-100, #E3FBE3);  
    --joy-palette-success-softHoverBg:  var(--joy-palette-success-200, #C7F7C7);  
    --joy-palette-success-800: #042F04; 
    --joy-palette-success-softActiveColor:  var(--joy-palette-success-800, #042F04);  
    --joy-palette-success-softActiveBg:  var(--joy-palette-success-300, #A1E8A1);  
    --joy-palette-success-softDisabledColor:  var(--joy-palette-neutral-400, #9FA6AD);  
    --joy-palette-success-softDisabledBg:  var(--joy-palette-neutral-50, #FBFCFE);  
    --joy-palette-success-solidColor:  var(--joy-palette-common-white, #FFF);  
    --joy-palette-success-solidBg:  var(--joy-palette-success-500, #1F7A1F);  
    --joy-palette-success-600: #136C13; 
    --joy-palette-success-solidHoverBg:  var(--joy-palette-success-600, #136C13);  
    --joy-palette-success-solidActiveBg:  var(--joy-palette-success-700, #0A470A);  
    --joy-palette-success-solidDisabledColor:  var(--joy-palette-neutral-400, #9FA6AD);  
    --joy-palette-success-solidDisabledBg:  var(--joy-palette-neutral-100, #F0F4F8);  
    --joy-palette-warning-100:  #FDF0E1;  
    --joy-palette-warning-200:  #FCE1C2;  
    --joy-palette-warning-300:  #F3C896;  
    --joy-palette-warning-500:  #9A5B13;  
    --joy-palette-warning-600:  #72430D;  
    --joy-palette-warning-700:  #492B08;  
    --joy-palette-warning-800:  #2E1B05;  
    --joy-palette-warning-500: #9A5B13; 
    --joy-palette-warning-plainColor:  var(--joy-palette-warning-500, #9A5B13);  
    --joy-palette-warning-100: #FDF0E1; 
    --joy-palette-warning-plainHoverBg:  var(--joy-palette-warning-100, #FDF0E1);  
    --joy-palette-warning-200: #FCE1C2; 
    --joy-palette-warning-plainActiveBg:  var(--joy-palette-warning-200, #FCE1C2);  
    --joy-palette-warning-plainDisabledColor:  var(--joy-palette-neutral-400, #9FA6AD);  
    --joy-palette-warning-outlinedColor:  var(--joy-palette-warning-500, #9A5B13);  
    --joy-palette-warning-300: #F3C896; 
    --joy-palette-warning-outlinedBorder:  var(--joy-palette-warning-300, #F3C896);  
    --joy-palette-warning-outlinedHoverBg:  var(--joy-palette-warning-100, #FDF0E1);  
    --joy-palette-warning-outlinedActiveBg:  var(--joy-palette-warning-200, #FCE1C2);  
    --joy-palette-warning-outlinedDisabledColor:  var(--joy-palette-neutral-400, #9FA6AD);  
    --joy-palette-warning-outlinedDisabledBorder:  var(--joy-palette-neutral-200, #DDE7EE);  
    --joy-palette-warning-700: #492B08; 
    --joy-palette-warning-softColor:  var(--joy-palette-warning-700, #492B08);  
    --joy-palette-warning-softBg:  var(--joy-palette-warning-100, #FDF0E1);  
    --joy-palette-warning-softHoverBg:  var(--joy-palette-warning-200, #FCE1C2);  
    --joy-palette-warning-800: #2E1B05; 
    --joy-palette-warning-softActiveColor:  var(--joy-palette-warning-800, #2E1B05);  
    --joy-palette-warning-softActiveBg:  var(--joy-palette-warning-300, #F3C896);  
    --joy-palette-warning-softDisabledColor:  var(--joy-palette-neutral-400, #9FA6AD);  
    --joy-palette-warning-softDisabledBg:  var(--joy-palette-neutral-50, #FBFCFE);  
    --joy-palette-warning-solidColor:  var(--joy-palette-common-white, #FFF);  
    --joy-palette-warning-solidBg:  var(--joy-palette-warning-500, #9A5B13);  
    --joy-palette-warning-600: #72430D; 
    --joy-palette-warning-solidHoverBg:  var(--joy-palette-warning-600, #72430D);  
    --joy-palette-warning-solidActiveBg:  var(--joy-palette-warning-700, #492B08);  
    --joy-palette-warning-solidDisabledColor:  var(--joy-palette-neutral-400, #9FA6AD);  
    --joy-palette-warning-solidDisabledBg:  var(--joy-palette-neutral-100, #F0F4F8);  
    --joy-palette-common-white:  #FFF;  
    --joy-palette-text-primary:  var(--joy-palette-neutral-800, #171A1C);  
    --joy-palette-text-secondary:  var(--joy-palette-neutral-700, #32383E);  
    --joy-palette-text-tertiary:  var(--joy-palette-neutral-600, #555E68);  
    --joy-palette-text-icon:  var(--joy-palette-neutral-500, #636B74);  
    --joy-palette-background-body:  var(--joy-palette-common-white, #FFF);  
    --joy-palette-background-surface:  var(--joy-palette-neutral-50, #FBFCFE);  
    --joy-palette-background-popup:  var(--joy-palette-common-white, #FFF);  
    --joy-palette-background-level1:  var(--joy-palette-neutral-100, #F0F4F8);  
    --joy-palette-background-level2:  var(--joy-palette-neutral-200, #DDE7EE);  
    --joy-palette-background-level3:  var(--joy-palette-neutral-300, #CDD7E1);  
    --joy-palette-background-tooltip:  var(--joy-palette-neutral-500, #636B74);  
    --joy-palette-neutral-darkChannel: 50 56 62; 
    --joy-palette-background-backdrop:  rgba(var(--joy-palette-neutral-darkChannel, 11 13 14) / 0.25);  
    --joy-palette-neutral-mainChannel: 99 107 116; 
    --joy-palette-divider:  rgba(var(--joy-palette-neutral-mainChannel, 99 107 116) / 0.2);  
    --joy-palette-focusVisible:  var(--joy-palette-primary-500, #0B6BCB);  
    --joy-shadowRing:  0 0 #000;  
    --joy-shadowChannel:  21 21 21;  
    --joy-shadowOpacity:  0.08; 
    --tw-bg-opacity:  1;  
    --tw-shadow:  0 1px 2px 0 rgba(0,0,0,.05);  
    --tw-shadow-colored:  0 1px 2px 0 var(--tw-shadow-color);  
    --tw-ring-offset-shadow:  0 0 #0000;  
    --tw-ring-shadow:  0 0 #0000;  
    --tw-shadow:  0 0 #0000;  
    --tw-ring-offset-shadow:  0 0 #0000;  
    --tw-ring-shadow:  0 0 #0000;  
    --tw-shadow:  0 0 #0000;  
    --tw-text-opacity:  1;  
    --tw-text-opacity:  1; 
    --tw-text-opacity:  1;  
    --tw-border-opacity:  1;  
    --tw-text-opacity:  1;  
    --tw-bg-opacity:  1;  
    --tw-text-opacity:  1;  
    --tw-border-opacity:  1;  
    --tw-bg-opacity:  1;  
    --tw-text-opacity:  1;  
    --tw-bg-opacity:  1;  
    --tw-border-opacity:  1;  
    --tw-bg-opacity:  1;  
    --tw-text-opacity:  1;  
    --tw-shadow:  0 0 #0000; 
    --tw-border-opacity:  1;  
    --tw-text-opacity:  1;  
    --tw-shadow:  0 0 #0000; 
    --FormLabel-asteriskColor:  var(--joy-palette-danger-500, #C41C1C);  
    --joy-fontSize-sm: 0.875rem; 
    --FormLabel-fontSize:  var(--joy-fontSize-sm, 0.875rem);  
    --joy-lineHeight-sm: 1.42858; 
    --FormLabel-lineHeight:  var(--joy-lineHeight-sm, 1.42858);  
    --FormHelperText-fontSize:  var(--joy-fontSize-sm, 0.875rem);  
    --FormHelperText-lineHeight:  var(--joy-lineHeight-sm, 1.42858);  
    --tw-text-opacity:  1;  
    --tw-border-opacity:  1!important;  
    --tw-text-opacity:  1!important;  
    --tw-backdrop-blur:  blur(12px)!important;  
    --joy-palette-focusVisible: var(--joy-palette-primary-500, #0B6BCB); 
    --Select-focusedHighlight:  var(--joy-palette-focusVisible, var(--joy-palette-primary-500, #0B6BCB)); 
    --joy-fontSize-xl: 1.25rem; 
    --Icon-fontSize:  var(--joy-fontSize-xl, 1.25rem);  
    --joy-palette-text-icon: var(--joy-palette-neutral-500, #636B74); 
    --Icon-color:  var(--joy-palette-text-icon, var(--joy-palette-neutral-500, #636B74));  
    --tw-shadow:  0 0 #0000; 
} 

* { 
    --tw-ring-offset-shadow: 0 0 #0000; 
    --tw-ring-shadow: 0 0 #0000; 
    --tw-shadow: 0 0 #0000; 
} 

* { 
    box-sizing: border-box; 
    border: 0 solid #e5e7eb;
} 

* { 
    box-sizing: border-box;
} 

.flex { 
    display: flex;
} 

.h-full { 
    height: 100%;
} 

.w-full { 
    width: 100%;
} 

.items-center { 
    align-items: center;
} 

.justify-center { 
    justify-content: center;
} 

body { 
    margin: 0; 
    line-height: inherit;
} 

body { 
    scroll-behavior: smooth!important; 
    padding: 0; 
    margin: 0; 
    -webkit-font-smoothing: antialiased; 
    -moz-osx-font-smoothing: grayscale; 
    --tw-text-opacity: 1; 
    color: rgb(17 24 39/var(--tw-text-opacity));
} 

html { 
    line-height: 1.5; 
    -webkit-text-size-adjust: 100%; 
    -moz-tab-size: 4; 
    -o-tab-size: 4; 
    tab-size: 4; 
    font-family: ui-sans-serif,system-ui,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji; 
    font-feature-settings: normal; 
    font-variation-settings: normal; 
    -webkit-tap-highlight-color: transparent;
} 

html { 
    scroll-behavior: smooth!important; 
    padding: 0; 
    margin: 0; 
    -webkit-font-smoothing: antialiased; 
    -moz-osx-font-smoothing: grayscale; 
    --tw-text-opacity: 1; 
    color: rgb(17 24 39/var(--tw-text-opacity));
} 

:root { 
    --joy-fontSize-sm: 0.875rem; 
    --joy-fontSize-xl: 1.25rem; 
    --joy-fontSize-xl2: 1.5rem; 
    --joy-fontFamily-body: "Inter",var(--joy-fontFamily-fallback, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"); 
    --joy-fontFamily-display: "Inter",var(--joy-fontFamily-fallback, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"); 
    --joy-fontFamily-fallback: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"; 
    --joy-lineHeight-sm: 1.42858; 
    --joy-shadow-xs: var(--joy-shadowRing, 0 0 #000),0px 1px 2px 0px rgba(var(--joy-shadowChannel, 21 21 21) / var(--joy-shadowOpacity, 0.08)); 
    --joy-shadow-sm: var(--joy-shadowRing, 0 0 #000),0px 1px 2px 0px rgba(var(--joy-shadowChannel, 21 21 21) / var(--joy-shadowOpacity, 0.08)),0px 2px 4px 0px rgba(var(--joy-shadowChannel, 21 21 21) / var(--joy-shadowOpacity, 0.08)); 
    --joy-shadow-md: var(--joy-shadowRing, 0 0 #000),0px 2px 8px -2px rgba(var(--joy-shadowChannel, 21 21 21) / var(--joy-shadowOpacity, 0.08)),0px 6px 12px -2px rgba(var(--joy-shadowChannel, 21 21 21) / var(--joy-shadowOpacity, 0.08)); 
    --joy-shadow-lg: var(--joy-shadowRing, 0 0 #000),0px 2px 8px -2px rgba(var(--joy-shadowChannel, 21 21 21) / var(--joy-shadowOpacity, 0.08)),0px 12px 16px -4px rgba(var(--joy-shadowChannel, 21 21 21) / var(--joy-shadowOpacity, 0.08)); 
    --joy-shadow-xl: var(--joy-shadowRing, 0 0 #000),0px 2px 8px -2px rgba(var(--joy-shadowChannel, 21 21 21) / var(--joy-shadowOpacity, 0.08)),0px 20px 24px -4px rgba(var(--joy-shadowChannel, 21 21 21) / var(--joy-shadowOpacity, 0.08)); 
} 

:root,[data-joy-color-scheme="light"] { 
    --joy-palette-primary-100: #E3EFFB; 
    --joy-palette-primary-200: #C7DFF7; 
    --joy-palette-primary-300: #97C3F0; 
    --joy-palette-primary-500: #0B6BCB; 
    --joy-palette-primary-600: #185EA5; 
    --joy-palette-primary-700: #12467B; 
    --joy-palette-primary-800: #0A2744; 
    --joy-palette-primary-plainColor: var(--joy-palette-primary-500, #0B6BCB); 
    --joy-palette-primary-plainHoverBg: var(--joy-palette-primary-100, #E3EFFB); 
    --joy-palette-primary-plainActiveBg: var(--joy-palette-primary-200, #C7DFF7); 
    --joy-palette-primary-plainDisabledColor: var(--joy-palette-neutral-400, #9FA6AD); 
    --joy-palette-primary-outlinedColor: var(--joy-palette-primary-500, #0B6BCB); 
    --joy-palette-primary-outlinedBorder: var(--joy-palette-primary-300, #97C3F0); 
    --joy-palette-primary-outlinedHoverBg: var(--joy-palette-primary-100, #E3EFFB); 
    --joy-palette-primary-outlinedActiveBg: var(--joy-palette-primary-200, #C7DFF7); 
    --joy-palette-primary-outlinedDisabledColor: var(--joy-palette-neutral-400, #9FA6AD); 
    --joy-palette-primary-outlinedDisabledBorder: var(--joy-palette-neutral-200, #DDE7EE); 
    --joy-palette-primary-softColor: var(--joy-palette-primary-700, #12467B); 
    --joy-palette-primary-softBg: var(--joy-palette-primary-100, #E3EFFB); 
    --joy-palette-primary-softHoverBg: var(--joy-palette-primary-200, #C7DFF7); 
    --joy-palette-primary-softActiveColor: var(--joy-palette-primary-800, #0A2744); 
    --joy-palette-primary-softActiveBg: var(--joy-palette-primary-300, #97C3F0); 
    --joy-palette-primary-softDisabledColor: var(--joy-palette-neutral-400, #9FA6AD); 
    --joy-palette-primary-softDisabledBg: var(--joy-palette-neutral-50, #FBFCFE); 
    --joy-palette-primary-solidColor: var(--joy-palette-common-white, #FFF); 
    --joy-palette-primary-solidBg: var(--joy-palette-primary-500, #0B6BCB); 
    --joy-palette-primary-solidHoverBg: var(--joy-palette-primary-600, #185EA5); 
    --joy-palette-primary-solidActiveBg: var(--joy-palette-primary-700, #12467B); 
    --joy-palette-primary-solidDisabledColor: var(--joy-palette-neutral-400, #9FA6AD); 
    --joy-palette-primary-solidDisabledBg: var(--joy-palette-neutral-100, #F0F4F8); 
    --joy-palette-neutral-50: #FBFCFE; 
    --joy-palette-neutral-100: #F0F4F8; 
    --joy-palette-neutral-200: #DDE7EE; 
    --joy-palette-neutral-300: #CDD7E1; 
    --joy-palette-neutral-400: #9FA6AD; 
    --joy-palette-neutral-500: #636B74; 
    --joy-palette-neutral-600: #555E68; 
    --joy-palette-neutral-700: #32383E; 
    --joy-palette-neutral-800: #171A1C; 
    --joy-palette-neutral-900: #0B0D0E; 
    --joy-palette-neutral-plainColor: var(--joy-palette-neutral-700, #32383E); 
    --joy-palette-neutral-plainHoverBg: var(--joy-palette-neutral-100, #F0F4F8); 
    --joy-palette-neutral-plainActiveBg: var(--joy-palette-neutral-200, #DDE7EE); 
    --joy-palette-neutral-plainDisabledColor: var(--joy-palette-neutral-400, #9FA6AD); 
    --joy-palette-neutral-outlinedColor: var(--joy-palette-neutral-700, #32383E); 
    --joy-palette-neutral-outlinedBorder: var(--joy-palette-neutral-300, #CDD7E1); 
    --joy-palette-neutral-outlinedHoverBg: var(--joy-palette-neutral-100, #F0F4F8); 
    --joy-palette-neutral-outlinedActiveBg: var(--joy-palette-neutral-200, #DDE7EE); 
    --joy-palette-neutral-outlinedDisabledColor: var(--joy-palette-neutral-400, #9FA6AD); 
    --joy-palette-neutral-outlinedDisabledBorder: var(--joy-palette-neutral-200, #DDE7EE); 
    --joy-palette-neutral-softColor: var(--joy-palette-neutral-700, #32383E); 
    --joy-palette-neutral-softBg: var(--joy-palette-neutral-100, #F0F4F8); 
    --joy-palette-neutral-softHoverBg: var(--joy-palette-neutral-200, #DDE7EE); 
    --joy-palette-neutral-softActiveColor: var(--joy-palette-neutral-800, #171A1C); 
    --joy-palette-neutral-softActiveBg: var(--joy-palette-neutral-300, #CDD7E1); 
    --joy-palette-neutral-softDisabledColor: var(--joy-palette-neutral-400, #9FA6AD); 
    --joy-palette-neutral-softDisabledBg: var(--joy-palette-neutral-50, #FBFCFE); 
    --joy-palette-neutral-solidColor: var(--joy-palette-common-white, #FFF); 
    --joy-palette-neutral-solidBg: var(--joy-palette-neutral-500, #636B74); 
    --joy-palette-neutral-solidHoverBg: var(--joy-palette-neutral-600, #555E68); 
    --joy-palette-neutral-solidActiveBg: var(--joy-palette-neutral-700, #32383E); 
    --joy-palette-neutral-solidDisabledColor: var(--joy-palette-neutral-400, #9FA6AD); 
    --joy-palette-neutral-solidDisabledBg: var(--joy-palette-neutral-100, #F0F4F8); 
    --joy-palette-neutral-plainHoverColor: var(--joy-palette-neutral-900, #0B0D0E); 
    --joy-palette-neutral-mainChannel: 99 107 116; 
    --joy-palette-neutral-darkChannel: 50 56 62; 
    --joy-palette-danger-100: #FCE4E4; 
    --joy-palette-danger-200: #F7C5C5; 
    --joy-palette-danger-300: #F09898; 
    --joy-palette-danger-500: #C41C1C; 
    --joy-palette-danger-600: #A51818; 
    --joy-palette-danger-700: #7D1212; 
    --joy-palette-danger-800: #430A0A; 
    --joy-palette-danger-plainColor: var(--joy-palette-danger-500, #C41C1C); 
    --joy-palette-danger-plainHoverBg: var(--joy-palette-danger-100, #FCE4E4); 
    --joy-palette-danger-plainActiveBg: var(--joy-palette-danger-200, #F7C5C5); 
    --joy-palette-danger-plainDisabledColor: var(--joy-palette-neutral-400, #9FA6AD); 
    --joy-palette-danger-outlinedColor: var(--joy-palette-danger-500, #C41C1C); 
    --joy-palette-danger-outlinedBorder: var(--joy-palette-danger-300, #F09898); 
    --joy-palette-danger-outlinedHoverBg: var(--joy-palette-danger-100, #FCE4E4); 
    --joy-palette-danger-outlinedActiveBg: var(--joy-palette-danger-200, #F7C5C5); 
    --joy-palette-danger-outlinedDisabledColor: var(--joy-palette-neutral-400, #9FA6AD); 
    --joy-palette-danger-outlinedDisabledBorder: var(--joy-palette-neutral-200, #DDE7EE); 
    --joy-palette-danger-softColor: var(--joy-palette-danger-700, #7D1212); 
    --joy-palette-danger-softBg: var(--joy-palette-danger-100, #FCE4E4); 
    --joy-palette-danger-softHoverBg: var(--joy-palette-danger-200, #F7C5C5); 
    --joy-palette-danger-softActiveColor: var(--joy-palette-danger-800, #430A0A); 
    --joy-palette-danger-softActiveBg: var(--joy-palette-danger-300, #F09898); 
    --joy-palette-danger-softDisabledColor: var(--joy-palette-neutral-400, #9FA6AD); 
    --joy-palette-danger-softDisabledBg: var(--joy-palette-neutral-50, #FBFCFE); 
    --joy-palette-danger-solidColor: var(--joy-palette-common-white, #FFF); 
    --joy-palette-danger-solidBg: var(--joy-palette-danger-500, #C41C1C); 
    --joy-palette-danger-solidHoverBg: var(--joy-palette-danger-600, #A51818); 
    --joy-palette-danger-solidActiveBg: var(--joy-palette-danger-700, #7D1212); 
    --joy-palette-danger-solidDisabledColor: var(--joy-palette-neutral-400, #9FA6AD); 
    --joy-palette-danger-solidDisabledBg: var(--joy-palette-neutral-100, #F0F4F8); 
    --joy-palette-success-100: #E3FBE3; 
    --joy-palette-success-200: #C7F7C7; 
    --joy-palette-success-300: #A1E8A1; 
    --joy-palette-success-500: #1F7A1F; 
    --joy-palette-success-600: #136C13; 
    --joy-palette-success-700: #0A470A; 
    --joy-palette-success-800: #042F04; 
    --joy-palette-success-plainColor: var(--joy-palette-success-500, #1F7A1F); 
    --joy-palette-success-plainHoverBg: var(--joy-palette-success-100, #E3FBE3); 
    --joy-palette-success-plainActiveBg: var(--joy-palette-success-200, #C7F7C7); 
    --joy-palette-success-plainDisabledColor: var(--joy-palette-neutral-400, #9FA6AD); 
    --joy-palette-success-outlinedColor: var(--joy-palette-success-500, #1F7A1F); 
    --joy-palette-success-outlinedBorder: var(--joy-palette-success-300, #A1E8A1); 
    --joy-palette-success-outlinedHoverBg: var(--joy-palette-success-100, #E3FBE3); 
    --joy-palette-success-outlinedActiveBg: var(--joy-palette-success-200, #C7F7C7); 
    --joy-palette-success-outlinedDisabledColor: var(--joy-palette-neutral-400, #9FA6AD); 
    --joy-palette-success-outlinedDisabledBorder: var(--joy-palette-neutral-200, #DDE7EE); 
    --joy-palette-success-softColor: var(--joy-palette-success-700, #0A470A); 
    --joy-palette-success-softBg: var(--joy-palette-success-100, #E3FBE3); 
    --joy-palette-success-softHoverBg: var(--joy-palette-success-200, #C7F7C7); 
    --joy-palette-success-softActiveColor: var(--joy-palette-success-800, #042F04); 
    --joy-palette-success-softActiveBg: var(--joy-palette-success-300, #A1E8A1); 
    --joy-palette-success-softDisabledColor: var(--joy-palette-neutral-400, #9FA6AD); 
    --joy-palette-success-softDisabledBg: var(--joy-palette-neutral-50, #FBFCFE); 
    --joy-palette-success-solidColor: var(--joy-palette-common-white, #FFF); 
    --joy-palette-success-solidBg: var(--joy-palette-success-500, #1F7A1F); 
    --joy-palette-success-solidHoverBg: var(--joy-palette-success-600, #136C13); 
    --joy-palette-success-solidActiveBg: var(--joy-palette-success-700, #0A470A); 
    --joy-palette-success-solidDisabledColor: var(--joy-palette-neutral-400, #9FA6AD); 
    --joy-palette-success-solidDisabledBg: var(--joy-palette-neutral-100, #F0F4F8); 
    --joy-palette-warning-100: #FDF0E1; 
    --joy-palette-warning-200: #FCE1C2; 
    --joy-palette-warning-300: #F3C896; 
    --joy-palette-warning-500: #9A5B13; 
    --joy-palette-warning-600: #72430D; 
    --joy-palette-warning-700: #492B08; 
    --joy-palette-warning-800: #2E1B05; 
    --joy-palette-warning-plainColor: var(--joy-palette-warning-500, #9A5B13); 
    --joy-palette-warning-plainHoverBg: var(--joy-palette-warning-100, #FDF0E1); 
    --joy-palette-warning-plainActiveBg: var(--joy-palette-warning-200, #FCE1C2); 
    --joy-palette-warning-plainDisabledColor: var(--joy-palette-neutral-400, #9FA6AD); 
    --joy-palette-warning-outlinedColor: var(--joy-palette-warning-500, #9A5B13); 
    --joy-palette-warning-outlinedBorder: var(--joy-palette-warning-300, #F3C896); 
    --joy-palette-warning-outlinedHoverBg: var(--joy-palette-warning-100, #FDF0E1); 
    --joy-palette-warning-outlinedActiveBg: var(--joy-palette-warning-200, #FCE1C2); 
    --joy-palette-warning-outlinedDisabledColor: var(--joy-palette-neutral-400, #9FA6AD); 
    --joy-palette-warning-outlinedDisabledBorder: var(--joy-palette-neutral-200, #DDE7EE); 
    --joy-palette-warning-softColor: var(--joy-palette-warning-700, #492B08); 
    --joy-palette-warning-softBg: var(--joy-palette-warning-100, #FDF0E1); 
    --joy-palette-warning-softHoverBg: var(--joy-palette-warning-200, #FCE1C2); 
    --joy-palette-warning-softActiveColor: var(--joy-palette-warning-800, #2E1B05); 
    --joy-palette-warning-softActiveBg: var(--joy-palette-warning-300, #F3C896); 
    --joy-palette-warning-softDisabledColor: var(--joy-palette-neutral-400, #9FA6AD); 
    --joy-palette-warning-softDisabledBg: var(--joy-palette-neutral-50, #FBFCFE); 
    --joy-palette-warning-solidColor: var(--joy-palette-common-white, #FFF); 
    --joy-palette-warning-solidBg: var(--joy-palette-warning-500, #9A5B13); 
    --joy-palette-warning-solidHoverBg: var(--joy-palette-warning-600, #72430D); 
    --joy-palette-warning-solidActiveBg: var(--joy-palette-warning-700, #492B08); 
    --joy-palette-warning-solidDisabledColor: var(--joy-palette-neutral-400, #9FA6AD); 
    --joy-palette-warning-solidDisabledBg: var(--joy-palette-neutral-100, #F0F4F8); 
    --joy-palette-common-white: #FFF; 
    --joy-palette-text-primary: var(--joy-palette-neutral-800, #171A1C); 
    --joy-palette-text-secondary: var(--joy-palette-neutral-700, #32383E); 
    --joy-palette-text-tertiary: var(--joy-palette-neutral-600, #555E68); 
    --joy-palette-text-icon: var(--joy-palette-neutral-500, #636B74); 
    --joy-palette-background-body: var(--joy-palette-common-white, #FFF); 
    --joy-palette-background-surface: var(--joy-palette-neutral-50, #FBFCFE); 
    --joy-palette-background-popup: var(--joy-palette-common-white, #FFF); 
    --joy-palette-background-level1: var(--joy-palette-neutral-100, #F0F4F8); 
    --joy-palette-background-level2: var(--joy-palette-neutral-200, #DDE7EE); 
    --joy-palette-background-level3: var(--joy-palette-neutral-300, #CDD7E1); 
    --joy-palette-background-tooltip: var(--joy-palette-neutral-500, #636B74); 
    --joy-palette-background-backdrop: rgba(var(--joy-palette-neutral-darkChannel, 11 13 14) / 0.25); 
    --joy-palette-divider: rgba(var(--joy-palette-neutral-mainChannel, 99 107 116) / 0.2); 
    --joy-palette-focusVisible: var(--joy-palette-primary-500, #0B6BCB); 
    --joy-shadowRing: 0 0 #000; 
    --joy-shadowChannel: 21 21 21; 
    --joy-shadowOpacity: 0.08;
} 

.z-20 { 
    z-index: 20;
} 

.max-h-screen { 
    max-height: 100vh;
} 

.overflow-auto { 
    overflow: auto;
} 

.bg-white { 
    --tw-bg-opacity: 1; 
    background-color: rgb(255 255 255/var(--tw-bg-opacity));
} 

.p-4 { 
    padding: 1rem;
} 

.pt-12 { 
    padding-top: 3rem;
} 

.font-outfit { 
    font-family: var(--font-outfit),Inter,Helvetica,Arial,sans-serif;
} 

.outline-none { 
    outline: 2px solid transparent; 
    outline-offset: 2px;
} 

.ReactModal__Content { 
    opacity: 0; 
    transform: scale(.99) translateY(10px); 
    transition: all .3s ease .1s;
} 

@media (min-width: 640px){ 
  .sm\:overflow-hidden { 
    overflow: hidden;
  } 

  .sm\:overflow-visible { 
    overflow: visible;
  } 
}     

@media (min-width: 768px){ 
  .md\:h-auto { 
    height: auto;
  } 

  .md\:w-auto { 
    width: auto;
  } 

  .md\:max-w-\[90vw\] { 
    max-width: 90vw;
  } 

  .md\:rounded-2xl { 
    border-radius: 1rem;
  } 

  .md\:p-6 { 
    padding: 1.5rem;
  } 

  .md\:pt-6 { 
    padding-top: 1.5rem;
  } 

  .md\:shadow-sm { 
    --tw-shadow: 0 1px 2px 0 rgba(0,0,0,.05); 
    --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color); 
    box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);
  } 
}     

.ReactModal__Content  { 
    transform: none; 
    opacity: 1; 
    transition: all .3s ease;
} 

*,:after,:before { 
    --tw-ring-offset-shadow: 0 0 #0000; 
    --tw-ring-shadow: 0 0 #0000; 
    --tw-shadow: 0 0 #0000; 
} 

*,:after,:before { 
    box-sizing: border-box; 
    border: 0 solid #e5e7eb;
} 

:backdrop { 
    --tw-ring-offset-shadow: 0 0 #0000; 
    --tw-ring-shadow: 0 0 #0000; 
    --tw-shadow: 0 0 #0000; 
} 

:selection { 
    background-color: rgba(46,95,203,.8); 
    --tw-text-opacity: 1; 
    color: rgb(255 255 255/var(--tw-text-opacity));
} 

svg { 
    display: block; 
    vertical-align: middle;
} 

.absolute { 
    position: absolute;
} 

.right-6 { 
    right: 1.5rem;
} 

.top-4 { 
    top: 1rem;
} 

.text-2xl { 
    font-size: 1.5rem; 
    line-height: 2rem;
} 

@media (min-width: 768px){ 
  .md\:hidden { 
    display: none;
  } 
}     

.hidden { 
    display: none;
} 

.relative { 
    position: relative;
} 

.z-50 { 
    z-index: 50;
} 

.max-h-full { 
    max-height: 100%;
} 

.flex-col { 
    flex-direction: column;
} 

.h-auto { 
    height: auto;
} 

.gap-4 { 
    gap: 1rem;
} 

@media (min-width: 768px){ 
  .md\:grid-cols-\[4fr_3fr\] { 
    grid-template-columns: 4fr 3fr;
  } 
}     

@media (min-width: 1024px){ 
  .lg\:grid { 
    display: grid;
  } 

  .lg\:max-h-\[600px\] { 
    max-height: 600px;
  } 
}     

.mb-6 { 
    margin-bottom: 1.5rem;
} 

.gap-3 { 
    gap: .75rem;
} 

.flex-col-reverse { 
    flex-direction: column-reverse;
} 

@media (min-width: 768px){ 
  .md\:flex-row { 
    flex-direction: row;
  } 

  .md\:justify-end { 
    justify-content: flex-end;
  } 
}     

.min-h-\[150px\] { 
    min-height: 150px;
} 

p { 
    margin: 0;
} 

p { 
    color: rgb(75 85 99/var(--tw-text-opacity));
} 

p { 
    --tw-text-opacity: 1;
} 

.text-3xl { 
    font-size: 1.875rem; 
    line-height: 2.25rem;
} 

.font-bold { 
    font-weight: 700;
} 

.text-gray-900 { 
    --tw-text-opacity: 1; 
    color: rgb(17 24 39/var(--tw-text-opacity));
} 

.font-medium { 
    font-weight: 500;
} 

button { 
    font-family: inherit; 
    font-feature-settings: inherit; 
    font-variation-settings: inherit; 
    font-size: 100%; 
    font-weight: inherit; 
    line-height: inherit; 
    letter-spacing: inherit; 
    color: inherit; 
    margin: 0; 
    padding: 0;
} 

button { 
    text-transform: none;
} 

button { 
    -webkit-appearance: button; 
    background-color: transparent; 
    background-image: none;
} 

button { 
    cursor: pointer;
} 

.gap-1 { 
    gap: .25rem;
} 

.rounded-xl { 
    border-radius: .75rem;
} 

.border-2 { 
    border-width: 2px;
} 

.border-darkgray { 
    --tw-border-opacity: 1; 
    border-color: rgb(29 29 29/var(--tw-border-opacity));
} 

.px-10 { 
    padding-left: 2.5rem; 
    padding-right: 2.5rem;
} 

.py-3 { 
    padding-top: .75rem; 
    padding-bottom: .75rem;
} 

.text-sm { 
    font-size: .875rem; 
    line-height: 1.25rem;
} 

.font-semibold { 
    font-weight: 600;
} 

.leading-none { 
    line-height: 1;
} 

.text-darkgray { 
    --tw-text-opacity: 1; 
    color: rgb(29 29 29/var(--tw-text-opacity));
} 

.transition-colors { 
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke; 
    transition-timing-function: cubic-bezier(.4,0,.2,1); 
    transition-duration: .15s;
} 

.duration-75 { 
    transition-duration: 75ms;
} 

.duration-75 { 
    animation-duration: 75ms;
} 

@media (min-width: 768px){ 
  .md\:gap-1\.5 { 
    gap: .375rem;
  } 
}     

.hover\:bg-darkgray:hover { 
    --tw-bg-opacity: 1; 
    background-color: rgb(29 29 29/var(--tw-bg-opacity));
} 

.hover\:text-white:hover { 
    --tw-text-opacity: 1; 
    color: rgb(255 255 255/var(--tw-text-opacity));
} 

.border-primary { 
    --tw-border-opacity: 1; 
    border-color: rgb(46 95 203/var(--tw-border-opacity));
} 

.bg-primary { 
    --tw-bg-opacity: 1; 
    background-color: rgb(46 95 203/var(--tw-bg-opacity));
} 

.text-white { 
    --tw-text-opacity: 1; 
    color: rgb(255 255 255/var(--tw-text-opacity));
} 

.hover\:border-primary\/50:hover { 
    border-color: rgba(46,95,203,.5);
} 

.hover\:bg-primary\/90:hover { 
    background-color: rgba(46,95,203,.9);
} 

.max-w-3xl { 
    max-width: 48rem;
} 

.flex-row { 
    flex-direction: row;
} 

.grid { 
    display: grid;
} 

.gap-2 { 
    gap: .5rem;
} 

@media (min-width: 640px){ 
  .sm\:grid-cols-3 { 
    grid-template-columns: repeat(3,minmax(0,1fr));
  } 
}     

:disabled { 
    cursor: default;
} 

.mt-auto { 
    margin-top: auto;
} 

.cursor-not-allowed { 
    cursor: not-allowed;
} 

.text-base { 
    font-size: 1rem; 
    line-height: 1.5rem;
} 

.opacity-50 { 
    opacity: .5;
} 

.border { 
    border-width: 1px;
} 

.border-black\/15 { 
    border-color: rgba(0,0,0,.15);
} 

.bg-black { 
    --tw-bg-opacity: 1; 
    background-color: rgb(0 0 0/var(--tw-bg-opacity));
} 

.p-2 { 
    padding: .5rem;
} 

.text-center { 
    text-align: center;
} 

.transition-all { 
    transition-property: all; 
    transition-timing-function: cubic-bezier(.4,0,.2,1); 
    transition-duration: .15s;
} 

.duration-100 { 
    transition-duration: .1s;
} 

.duration-100 { 
    animation-duration: .1s;
} 

.break-all { 
    word-break: break-all;
} 

.text-black\/90 { 
    color: rgba(0,0,0,.9);
} 

.hover\:bg-black\/10:hover { 
    background-color: rgba(0,0,0,.1);
} 

.cursor-pointer { 
    cursor: pointer;
} 

.items-stretch { 
    align-items: stretch;
} 

.overflow-hidden { 
    overflow: hidden;
} 

.hover\:border-navy-800:hover { 
    --tw-border-opacity: 1; 
    border-color: rgb(37 69 183/var(--tw-border-opacity));
} 

.hover\:bg-iceblue-100:hover { 
    --tw-bg-opacity: 1; 
    background-color: rgb(237 241 248/var(--tw-bg-opacity));
} 

@media (min-width: 768px){ 
  .md\:aspect-\[7\/5\] { 
    aspect-ratio: 7/5;
  } 
}     

.shrink-0 { 
    flex-shrink: 0;
} 

.text-lg { 
    font-size: 1.125rem; 
    line-height: 1.75rem;
} 

.invisible { 
    visibility: hidden;
} 

.max-h-0 { 
    max-height: 0;
} 

.opacity-0 { 
    opacity: 0;
} 

.duration-300 { 
    transition-duration: .3s;
} 

.duration-300 { 
    animation-duration: .3s;
} 

.min-h-52 { 
    min-height: 13rem;
} 

.border-dashed { 
    border-style: dashed;
} 

@media (min-width: 768px){ 
  .md\:min-h-\[300px\] { 
    min-height: 300px;
  } 
}     

.hover\:bg-black\/\[0\.025\]:hover { 
    background-color: rgba(0,0,0,.025);
} 

.text-xl { 
    font-size: 1.25rem; 
    line-height: 1.75rem;
} 

.text-navy-800 { 
    --tw-text-opacity: 1; 
    color: rgb(37 69 183/var(--tw-text-opacity));
} 

.whitespace-nowrap { 
    white-space: nowrap;
} 

input { 
    font-family: inherit; 
    font-feature-settings: inherit; 
    font-variation-settings: inherit; 
    font-size: 100%; 
    font-weight: inherit; 
    line-height: inherit; 
    letter-spacing: inherit; 
    color: inherit; 
    margin: 0; 
    padding: 0;
} 

[type="checkbox"] { 
    -webkit-appearance: none; 
    -moz-appearance: none; 
    appearance: none; 
    padding: 0; 
    -webkit-print-color-adjust: exact; 
    print-color-adjust: exact; 
    display: inline-block; 
    vertical-align: middle; 
    background-origin: border-box; 
    -webkit-user-select: none; 
    -moz-user-select: none; 
    user-select: none; 
    flex-shrink: 0; 
    height: 1rem; 
    width: 1rem; 
    color: #2563eb; 
    background-color: #fff; 
    border-color: #6b7280; 
    border-width: 1px; 
    --tw-shadow: 0 0 #0000;
} 

[type="checkbox"] { 
    border-radius: 0;
} 

.ml-auto { 
    margin-left: auto;
} 

.h-5 { 
    height: 1.25rem;
} 

.w-5 { 
    width: 1.25rem;
} 

.rounded { 
    border-radius: .25rem;
} 

.border-gray-300 { 
    --tw-border-opacity: 1; 
    border-color: rgb(209 213 219/var(--tw-border-opacity));
} 

.text-primary { 
    --tw-text-opacity: 1; 
    color: rgb(46 95 203/var(--tw-text-opacity));
} 

[type="checkbox"]:checked { 
    border-color: transparent; 
    background-color: currentColor; 
    background-size: 100% 100%; 
    background-position: 50%; 
    background-repeat: no-repeat;
} 

[type="checkbox"]:checked { 
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
} 

.mt-4 { 
    margin-top: 1rem;
} 

[multiple] { 
    -webkit-appearance: none; 
    -moz-appearance: none; 
    appearance: none; 
    background-color: #fff; 
    border-color: #6b7280; 
    border-width: 1px; 
    border-radius: 0; 
    padding: .5rem .75rem; 
    font-size: 1rem; 
    line-height: 1.5rem; 
    --tw-shadow: 0 0 #0000;
} 

[multiple] { 
    background-image: none; 
    background-position: 0 0; 
    background-repeat: unset; 
    background-size: initial; 
    padding-right: .75rem; 
    -webkit-print-color-adjust: unset; 
    print-color-adjust: unset;
} 

[type="file"] { 
    background: unset; 
    border-color: inherit; 
    border-width: 0; 
    border-radius: 0; 
    padding: 0; 
    font-size: unset; 
    line-height: inherit;
} 

.grid-cols-1 { 
    grid-template-columns: repeat(1,minmax(0,1fr));
} 

@media (min-width: 640px){ 
  .sm\:grid-cols-2 { 
    grid-template-columns: repeat(2,minmax(0,1fr));
  } 
}     

@media (min-width: 768px){ 
  .md\:grid-cols-1 { 
    grid-template-columns: repeat(1,minmax(0,1fr));
  } 
}     

@media (min-width: 1024px){ 
  .lg\:grid-cols-2 { 
    grid-template-columns: repeat(2,minmax(0,1fr));
  } 
}     

.css-9rix66 { 
    --FormLabel-asteriskColor: var(--joy-palette-danger-500, #C41C1C); 
    --FormLabel-fontSize: var(--joy-fontSize-sm, 0.875rem); 
    --FormLabel-lineHeight: var(--joy-lineHeight-sm, 1.42858); 
    --FormHelperText-fontSize: var(--joy-fontSize-sm, 0.875rem); 
    --FormHelperText-lineHeight: var(--joy-lineHeight-sm, 1.42858); 
    display: flex; 
    position: relative; 
    flex-direction: column;
} 

@media (min-width: 768px){ 
  .md\:font-medium { 
    font-weight: 500;
  } 

  .md\:text-primary { 
    --tw-text-opacity: 1; 
    color: rgb(46 95 203/var(--tw-text-opacity));
  } 

  .md\:inline { 
    display: inline;
  } 
}     

.\!rounded-xl { 
    border-radius: .75rem!important;
} 

.\!border-iceblue-100 { 
    --tw-border-opacity: 1!important; 
    border-color: rgb(237 241 248/var(--tw-border-opacity))!important;
} 

.\!px-3 { 
    padding-left: .75rem!important; 
    padding-right: .75rem!important;
} 

.\!py-2 { 
    padding-top: .5rem!important; 
    padding-bottom: .5rem!important;
} 

.\!text-heavyblack { 
    --tw-text-opacity: 1!important; 
    color: rgb(17 24 39/var(--tw-text-opacity))!important;
} 

.\!backdrop-blur-md { 
    --tw-backdrop-blur: blur(12px)!important; 
    -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia)!important; 
    backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia)!important;
} 

.duration-500 { 
    transition-duration: .5s;
} 

.duration-500 { 
    animation-duration: .5s;
} 

.css-1peitnf:not([data-inverted-colors="false"]) { 
    --Select-focusedHighlight: var(--joy-palette-focusVisible, var(--joy-palette-primary-500, #0B6BCB));
} 

.css-1peitnf:before { 
    box-sizing: border-box; 
    content: ""; 
    display: block; 
    position: absolute; 
    pointer-events: none; 
    inset: 0px; 
    z-index: 1; 
    border-radius: inherit; 
    margin: calc(var(--variant-borderWidth, 0px) * -1);
} 

.css-1peitnf:hover { 
    background-color: var(--variant-outlinedHoverBg, var(--joy-palette-neutral-outlinedHoverBg, var(--joy-palette-neutral-100, #F0F4F8)));
} 

.css-1qmzz5g { 
    border: 0px; 
    outline: 0px; 
    background: none; 
    padding: 0px; 
    font-size: inherit; 
    color: inherit; 
    align-self: stretch; 
    display: flex; 
    -webkit-box-align: center; 
    align-items: center; 
    flex: 1 1 0%; 
    font-family: inherit; 
    cursor: pointer; 
    white-space: nowrap; 
    overflow: hidden;
} 

.css-1qmzz5g:before { 
    content: ""; 
    display: block; 
    position: absolute; 
    top: calc(-1 * var(--variant-borderWidth, 0px)); 
    left: calc(-1 * var(--variant-borderWidth, 0px)); 
    right: calc(-1 * var(--variant-borderWidth, 0px)); 
    bottom: calc(-1 * var(--variant-borderWidth, 0px)); 
    border-radius: var(--Select-radius);
} 

.css-nvn28y { 
    --Icon-fontSize: var(--joy-fontSize-xl, 1.25rem); 
    --Icon-color: var(--joy-palette-text-icon, var(--joy-palette-neutral-500, #636B74)); 
    display: inherit; 
    -webkit-box-align: center; 
    align-items: center; 
    margin-inline-start: var(--Select-gap); 
    margin-inline-end: calc(var(--Select-paddingInline) / -4);
} 

input:where(:not([type])) { 
    -webkit-appearance: none; 
    -moz-appearance: none; 
    appearance: none; 
    background-color: #fff; 
    border-color: #6b7280; 
    border-width: 1px; 
    border-radius: 0; 
    padding: .5rem .75rem; 
    font-size: 1rem; 
    line-height: 1.5rem; 
    --tw-shadow: 0 0 #0000;
} 

.mr-2 { 
    margin-right: .5rem;
} 

.inline-block { 
    display: inline-block;
} 

.css-c9nsto { 
    user-select: none; 
    margin: var(--Icon-margin); 
    width: 1em; 
    height: 1em; 
    display: inline-block; 
    fill: currentcolor; 
    flex-shrink: 0; 
    font-size: var(--Icon-fontSize, var(--joy-fontSize-xl2, 1.5rem)); 
    color: var(--Icon-color, var(--joy-palette-text-icon, var(--joy-palette-neutral-500, #636B74)));
} 


/* These were inline style tags. Uses id+class to override almost everything */
#style-PnZKx.style-PnZKx {  
   opacity: 0;  
}  
#style-B9TNZ.style-B9TNZ {  
   opacity: 1;  
}  
#style-jJjHq.style-jJjHq {  
   display: none;  
}  
#style-rASPo.style-rASPo {  
   border: 0px;  
    clip: rect(0px, 0px, 0px, 0px);  
    height: 1px;  
    margin: -1px;  
    overflow: hidden;  
    padding: 0px;  
    position: absolute;  
    white-space: nowrap;  
    width: 1px;  
}  
#style-fiImS.style-fiImS {  
   border: 0px;  
    clip: rect(0px, 0px, 0px, 0px);  
    height: 1px;  
    margin: -1px;  
    overflow: hidden;  
    padding: 0px;  
    position: absolute;  
    white-space: nowrap;  
    width: 1px;  
}  
/* These were inline style tags. Uses id+class to override almost everything */
#style-wTgLQ.style-wTgLQ {  
   opacity: 0;  
}  
#style-zZbX4.style-zZbX4 {  
   opacity: 1;  
}  
#style-JvIrZ.style-JvIrZ {  
   display: none;  
}  
#style-yVBAI.style-yVBAI {  
   border: 0px;  
    clip: rect(0px, 0px, 0px, 0px);  
    height: 1px;  
    margin: -1px;  
    overflow: hidden;  
    padding: 0px;  
    position: absolute;  
    white-space: nowrap;  
    width: 1px;  
}  
#style-P8iXl.style-P8iXl {  
   border: 0px;  
    clip: rect(0px, 0px, 0px, 0px);  
    height: 1px;  
    margin: -1px;  
    overflow: hidden;  
    padding: 0px;  
    position: absolute;  
    white-space: nowrap;  
    width: 1px;  
}  
